{
  "presets": [
    "react",
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "jsx-strip-ext"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
